---
import Layout from '$layouts/Layout.astro';
import { z } from 'astro:schema';

import post from './about.md';
import people from '../../data/simpla.json';
import { Card } from '$components/react/Card';

const DateType = z.object({
	name: z.string(),
	language: z.string(),
	id: z.string(),
	bio: z.string(),
	version: z.number(),
});

const my_num = 1;
const my_obj = {
	name: 'John Doe',
	language: 'Sindhi',
	id: 'V59OF92YF627HFY0',
	bio: 'Donec lobortis eleifend condimentum. Cras dictum dolor lacinia lectus vehicula rutrum. Maecenas quis nisi nunc. Nam tristique feugiat est vitae mollis. Maecenas quis nisi nunc.',
	version: 6.1,
};

const dummyList = async () => {
	try {
		const res = await fetch('https://microsoftedge.github.io/Demos/json-dummy-data/64KB.json');
		const data = await res.json();

		// 데이터 검증
		const validatedData = z.array(DateType).parse(data);
		console.log('Data fetched and validated successfully:', validatedData);

		return validatedData;
	} catch (error) {
		console.error('Error fetching or validating data:', error);
		return [];
	}
};

const data = await dummyList();

console.log(post);
---

<Layout title='About Us'>
	<h1>About Us {my_obj.version + 2}</h1>

	<Card client:only='react' />

	<p>{my_obj.name} : {my_obj.bio}</p>

	{people.map(p => <p>{p.code}</p>)}

	{
		data.map(item => (
			<div>
				<h2>{item.name}</h2>
				<p>{item.language}</p>
				<p>{item.bio}</p>
				<p>{item.version}</p>
			</div>
		))
	}
</Layout>

<!-- <script is:inline>
	import { inType } from '../../utils/in';

	inType();

	const link = document.querySelectorAll('h1');
	link?.forEach(el => {
		el.addEventListener('click', () => {
			console.log('Link clicked!');
		});
	});
</script> -->

<script>
	import { inType } from '../../utils/in';

	inType();
</script>
